<section>
    <!-- const entry = data[index] if defined, will render on the page -->
    <!-- a for loop will get to the page, but won't show the right data -->
    <!-- data of data = X -->
    <h2>For Loop Rendering</h2>
    <div>
     <%for (data of data){%>
        <span>
            <p><%= data.title%></p>
            <p><%= data.author%></p>
            <p><%= data.task%></p>
            
            <!-- having action start in /account/ doesn't have an effect -->
            <form action="account/<%=data._id%>/?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded" class="inline">
                <input type="submit" value="Delete" id="delete"/>
            </form>
        </span>
        <p>---------------------------</p>
    <%}%>
    </div>
</section>    
